/************ Tweaks to the deafult styles *********/
.nav-tabs > li {
    padding-left: 0.8em;
}

/*************** Common Styles *************/
.text-shade, .text-fade {
    color: #999999;
}


/******************* DL ********************/
dl > dt, .dt {
    font-size: 13px !important;
    color: gray;
    font-weight: normal !important;
    margin-bottom: 0.1em;
}

dl > dd, .dd {
    color: inherit;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 1em;
    line-height: 1.6em;
    vertical-align: bottom !important;
}



/************* Change Default Label Styles *******************/
.label {
    padding: 0.4em 0.8em;
    border-radius: 0.4em;
}

.label-primary {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.label-info {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.label-success {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.label-warning {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.label-danger {
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}


/******************** Notification **********************/
.notification {
    position: absolute;
    top: 2px;
    right: -3px;
    font-size: 9px;
    font-weight: bold;
    color: #FFFFFF;
    min-width: 20px;
    padding: 0px 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    vertical-align: middle;
    display: block;
}

.notification-info {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.notification-success {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.notification-warning {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.notification-danger {
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

/******************* Alert **************************/
.alert {
    font-size: 14px !important;
}

.alert i.material-icons {
    position: relative;
    top: 5px !important;
}

/*************** Panel Sizing Styles ***************/
@media only screen and (min-width: 480px) {
    .card-xs .card-content {
        min-height: 120px;
    }

    .card-sm .card-content {
        min-height: 200px;
    }


    .card-md .card-content {
        min-height: 320px;
    }

    .card-lg .card-content {
        min-height: 410px;
    }

    .card-xlg .card-content {
        min-height: 620px;
    }

    /***************** Default padding and margin styles ***********/
    .margin-right-sm {
        margin-right: 1.2em;
    }


    .margin-right-md {
        margin-right: 2em;
    }

    .margin-right-lg {
        margin-right: 2.6em;
    }


    .margin-left-sm {
        margin-left: 1.2em;
    }


    .margin-left-md {
        margin-left: 2em;
    }

    .margin-left-lg {
        margin-left: 2.6em;
    }



    .margin-down-sm {
        margin-bottom: 1.2em;
    }


    .margin-down-md {
        margin-bottom: 2em;
    }

    .margin-down-lg {
        margin-bottom: 2.6em;
    }

    .margin-up-sm {
        margin-top: 1.2em;
    }


    .margin-up-md {
        margin-top: 3.2em;
    }

    .margin-both-sm {
        margin-top: 1.2em;
        margin-bottom: 1.2em;
    }


    .margin-up-xs {
        margin-top: 0.6em;
    }


    .margin-down-xs {
        margin-bottom: 0.6em;
    }


    .margin-both-md {
        margin-top: 2em !important;
        margin-bottom: 2em;
    }


    .margin-both-lg {
        margin-top: 2.6em;
        margin-bottom: 2.6em;
    }



    .pad-down-sm {
        padding-bottom: 1.2em;
    }



    .pad-down-md {
        padding-bottom: 2em;
    }


    .pad-down-lg {
        padding-bottom: 2.8em;
    }


    .pad-up-sm {
        padding-top: 1.2em;
    }



    .pad-up-md {
        padding-top: 2em !important;
    }


    .pad-up-lg {
        padding-top: 2.8em;
    }

    .pad-left-sm {
        padding-left: 1.2em;
    }

    .pad-left-md {
        padding-left: 2.8em;
    }

    .pad-left-lg {
        padding-left: 4em;
    }


    .pad-right-sm {
        padding-right: 1.2em;
    }

    .pad-right-md {
        padding-right: 2.8em;
    }

    .pad-right-lg {
        padding-right: 4em;
    }

    .login-form {
        margin-top: 25%;
    }

    .signup-form {
        margin-top: 8%;
    }


}