{% extends 'base.html' %}
{% load humanize %}

{% block page_name %} Insurance {% endblock page_name %}

{% block content %}
{% include 'partials/messages.html' %}
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="orange">
                <i class="material-icons">content_copy</i>
            </div>
            <div class="card-content">
                <p class="category">Used Space</p>
                <h3 class="title">49/50<small>GB</small></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="green">
                <i class="material-icons">store</i>
            </div>
            <div class="card-content">
                <p class="category">Revenue</p>
                <h3 class="title">$34,245</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="red">
                <i class="material-icons">info_outline</i>
            </div>
            <div class="card-content">
                <p class="category">Fixed Issues</p>
                <h3 class="title">75</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">local_offer</i> Tracked from Github
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="blue">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="card-content">
                <p class="category">Followers</p>
                <h3 class="title">+245</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">update</i> Just Updated
                </div>
            </div>
        </div>
    </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-sm-12">
      <div class="card card-nav-tabs card-md">
          <div class="card-header clearfix" data-background-color="purple">
              <div class="row">
                  <div class="col-sm-5">
                      <h4 class="title">Insurances</h4>
                      <p class="category">List of all ongoing advance guaranttee bonds for all projects</p>
                  </div>

                  <div class="col-sm-7">
                      <div class="nav-tabs-navigation pull-right">
                          <div class="nav-tabs-wrapper">
                              <ul class="nav nav-tabs text-right" data-tabs="tabs">

                                  <li class="">
                                      <a href="#active-insurances" data-toggle="tab">
                                          Active
                                          {% if insurance_list.count > 0 %}
                                          <span class="notification notification-info">{{ insurance_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>

                                  <li class="">
                                      <a href="#expired-insurances" data-toggle="tab">
                                          Expired
                                          {% if expired_insurance_list.count > 0 %}
                                          <span class="notification notification-danger">{{ expired_insurance_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div><!-- /.row -->
          </div><!-- /.card-header -->

          <div class="card-content">
              <div class="tab-content">
                  <div class="tab-pane active" id="active-insurances">
                      {% if insurance_list %}
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Insurance Type</th>
                                  <th>Project</th>
                                  <th>Status</th>
                                  <th>Expiration Date</th>
                                  <th>Days Left</th>
                              </thead>
                              <tbody>
                              {% for insurance in insurance_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:insurance-detail' insurance.id %}">{{ insurance.insurance_type.title|title }}</a></td>
                                      <td>{{ insurance.project.short_name }}</td>

                                      {% if insurance.status.level >= 0 and insurance.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ insurance.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif insurance.status.level >= 100 and insurance.status.level < 200 %}
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ insurance.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif insurance.status.level >= 200 and insurance.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ insurance.status.title|title }}
                                         </span>
                                      </td>
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ insurance.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ insurance.end_date|naturalday:'M d, Y'|title }}</td>
                                      <td>{{ insurance.get_days_left }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                      {% else %}
                      <div class="banner banner-default push-up-md">
                          <i class="material-icons">info_outline</i>&nbsp; No Records of Insurance
                      </div>
                      {% endif %}
                  </div><!-- /.tab-pane #all-insurance (Active Insurance) -->

                  <div class="tab-pane" id="expired-insurances">
                      {% if expired_insurance_list %}
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Insurance Type</th>
                                  <th>Project</th>
                                  <th>Status</th>
                                  <th>Expiration Date</th>
                              </thead>
                              <tbody>
                              {% for insurance in expired_insurance_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:insurance-detail' insurance.id %}">{{ insurance.insurance_type.title|title }}</a></td>
                                      <td>{{ insurance.project.short_name }}</td>

                                      {% if insurance.status.level >= 0 and insurance.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ insurance.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif insurance.status.level >= 100 and insurance.status.level < 200 %}
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ insurance.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif insurance.status.level >= 200 and insurance.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ insurance.status.title|title }}
                                         </span>
                                      </td>
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ insurance.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ insurance.end_date|naturalday:'M d, Y'|title }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                      {% else %}
                      <div class="banner banner-default push-up-md">
                          <i class="material-icons">info_outline</i>&nbsp; No Records of Insurance
                      </div>
                      {% endif %}
                  </div><!-- /.tab-pane #expired-insurances -->
              </div><!-- /.tab-content -->
          </div><!-- /.card-content -->
      </div>
  </div>
</div><!-- /.row -->

{% if user.is_staff %}
<div class="row">
    <div class="col-sm-12">
        <a href="{% url 'dashboard:insurance-create' %}" title="Add New Insurance" class="btn btn-primary pull-right">
           <span class="fa fa-plus-circle"></span>&nbsp; Add 
        </a>
    </div>
</div>
{% endif %}
{% endblock %}