{% extends 'base.html' %}

{% block page_name %}
Payments
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h3 class="h3 text-fade text-center pad-up-md">
            <i class="material-icons">lightbulb_outline</i> COMING SOON
        </h3>
        <p class="text-fade">Payment administration feature is currently not available. However, the feature is under development and will be available soon. Thank you for your patience!</p>

        <h3 class="small text-center text-fade">
            <i class="material-icons">sentiment_very_satisfied</i>
            <i class="material-icons">sentiment_very_satisfied</i>
            <i class="material-icons">sentiment_very_satisfied</i>
        </h3>
    </div>
</div><!-- /.row -->

{% endblock %}