{% extends 'base.html' %}
{% load humanize %}

{% block page_name %} {{ project.full_name }} {% endblock page_name %}

{% block content %}
{% include 'partials/messages.html' %}
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="blue">
                <i class="material-icons">info_outline</i>
            </div>
            <div class="card-content">
                <p class="category">Status</p>
                <h3 class="title">{{ project.status.short_title }}</h3>
            </div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="orange">
                <i class="material-icons">date_range</i>
            </div>
            <div class="card-content">
                <p class="category">Something</p>
                <h3 class="title">Something</h3>
            </div>
           
        </div>
    </div>
   
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="green">
                <i class="material-icons">cached</i>
            </div>
            <div class="card-content">
                <p class="category">Last Updated</p>
                <h3 class="title">{{ project.updated_at|naturalday:'M d, Y'|title }}</h3>
            </div>
        </div>
    </div>
</div><!-- /.row -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Project Summary</h4>
                <p class="category">Description and summary of the construction project</p>
            </div>
            <div class="card-content">
                <dl>
                    <dt>Project Title</dt>
                    <dd>{{ project.full_name }}</dd>

                    <dt>Short Title</dt>
                    <dd>{{ project.short_name }}</dd>

                    <dt>Project Status</dt>
                    {% if project.status.level == 10 %}
                    <dd>
                       <span class="label label-info">
                          <span class="fa fa-info-circle"></span> {{ project.status.title|title }} 
                       </span>
                    </dd>
                    {% elif project.status.level == 210 %}
                    <dd>
                       <span class="label label-warning">
                           <span class="fa fa-warning"></span> {{ project.status.title|title }}
                       </span>
                    </dd>
                    {% elif project.status.level == 110 %}
                    <dd>
                       <span class="label label-success">
                           <span class="fa fa-check-square-o"></span> {{ project.status.title|title }}
                       </span>
                    </dd>
                    {% else %}
                    <dd>
                       <span class="label label-danger">
                          <span class="fa fa-warning"></span> {{ claim.status.title|title }} 
                       </span>
                    </dd>
                    {% endif %}

                    <dt>Short Description</dt>
                    {% if project.description %}
                    <dd>{{ project.description }}</dd>
                    {% else %}
                    <dd class="text-fade text-justify">(No Description)</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
    </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-sm-12">
      <div class="card card-nav-tabs card-sm">
          <div class="card-header clearfix" data-background-color="purple">
              <div class="row">
                  <div class="col-sm-5">
                      <h4 class="title">Project Time Claims</h4>
                      <p class="category">List of all ongoing time extension claims status for this project</p>
                  </div>

                  <div class="col-sm-7">
                      <div class="nav-tabs-navigation pull-right">
                          <div class="nav-tabs-wrapper">
                              <ul class="nav nav-tabs text-right" data-tabs="tabs">
                                  <li class="active">
                                      <a href="#all-claims" data-toggle="tab">
                                          All
                                          {% if all_claim_list.count > 0 %}
                                          <span class="notification notification-info">{{ all_claim_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>

                                  <li class="">
                                      <a href="#submitted-claims" data-toggle="tab">
                                          Submitted
                                          {% if submitted_claim_list.count > 0 %}
                                          <span class="notification notification-success">{{ submitted_claim_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>

                                  <li class="">
                                      <a href="#approved-claims" data-toggle="tab">
                                          Approved/Rejected
                                          {% if approved_claim_list.count > 0 %}
                                          <span class="notification notification-danger">{{ approved_claim_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div><!-- /.row -->
          </div><!-- /.card-header -->

          <div class="card-content">
              <div class="tab-content">
                  <div class="tab-pane active" id="all-claims">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Title</th>
                                  <th>Status</th>
                                  <th>Last Updated</th>
                              </thead>
                              <tbody>
                              {% for claim in all_claim_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:project-claim-detail' claim.id %}">{{ claim.title|title }}</a></td>

                                      {% if claim.status.level >= 0 and claim.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ claim.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif claim.status.level >= 100 and claim.status.level < 200 %}
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ claim.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif claim.status.level >= 200 and claim.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ claim.status.title|title }}
                                         </span>
                                      </td>
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ claim.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ claim.updated_at|naturalday:'M d, Y'|title }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                  </div><!-- /.tab-pane #all-variations -->

                  <div class="tab-pane" id="submitted-claims">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Title</th>
                                  <th>Status</th>
                                  <th>Last Updated</th>
                              </thead>
                              <tbody>
                              {% for claim in submitted_claim_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:project-claim-detail' claim.id %}">{{ claim.title|title }}</a></td>

                                      {% if claim.status.level >= 0 and claim.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ claim.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif claim.status.level >= 100 and claim.status.level < 200 %}
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ claim.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif claim.status.level >= 200 and claim.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ claim.status.title|title }}
                                         </span>
                                      </td>
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ claim.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ claim.updated_at|naturalday:'M d, Y'|title }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                  </div><!-- /.tab-pane #submitted-claims -->

                  <div class="tab-pane" id="approved-claims">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Title</th>
                                  <th>Status</th>
                                  <th>Last Updated</th>
                              </thead>
                              <tbody>
                              {% for claim in approved_claim_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:project-claim-detail' claim.id %}">{{ claim.title|title }}</a></td>

                                      {% if claim.status.level >= 0 and claim.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ claim.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif claim.status.level >= 100 and claim.status.level < 200 %}
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ claim.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif claim.status.level >= 200 and claim.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ claim.status.title|title }}
                                         </span>
                                      </td>
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ claim.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ claim.updated_at|naturalday:'M d, Y'|title }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                  </div><!-- /.tab-pane #approved-claims -->
              </div><!-- /.tab-content -->
          </div><!-- /.card-content -->
          
          {% if user.is_staff %}
          <div class="card-footer">
            <a href="{% url 'dashboard:project-claim-create' project.id %}" title="Add new claim" class="btn btn-sm btn-primary pull-right">
               <span class="fa fa-plus-circle"></span>&nbsp; Add 
            </a>
          </div><!-- /.card-footer -->
          {% endif %}
      </div><!-- /.card -->
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-sm-12">
      <div class="card card-nav-tabs card-md">
          <div class="card-header clearfix" data-background-color="purple">
              <div class="row">
                  <div class="col-sm-5">
                      <h4 class="title">Project Variations</h4>
                      <p class="category">List of all ongoing variation status for this project</p>
                  </div>

                  <div class="col-sm-7">
                      <div class="nav-tabs-navigation pull-right">
                          <div class="nav-tabs-wrapper">
                              <ul class="nav nav-tabs text-right" data-tabs="tabs">
                                  <li class="active">
                                      <a href="#all-variations" data-toggle="tab">
                                          All
                                          {% if all_variation_list.count > 0 %}
                                          <span class="notification notification-info">{{ all_variation_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>
                                  <li class="">
                                      <a href="#under-prep-variations" data-toggle="tab">
                                          Under Prep.
                                          {% if under_prep_variation_list.count > 0 %}
                                          <span class="notification notification-info">{{ under_prep_variation_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>

                                  <li class="">
                                      <a href="#pending-variations" data-toggle="tab">
                                          Pending
                                          {% if pending_variation_list.count > 0 %}
                                          <span class="notification notification-warning">{{ pending_variation_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>

                                  <li class="">
                                      <a href="#submitted-variations" data-toggle="tab">
                                          Submitted
                                          {% if submitted_variation_list.count > 0 %}
                                          <span class="notification notification-success">{{ submitted_variation_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>

                                  <li class="">
                                      <a href="#approved-variations" data-toggle="tab">
                                          Approved/Rejected
                                          {% if approved_variation_list.count > 0 %}
                                          <span class="notification notification-danger">{{ approved_variation_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div><!-- /.row -->
          </div><!-- /.card-header -->

          <div class="card-content">
              <div class="tab-content">
                  <div class="tab-pane active" id="all-variations">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Title</th>
                                  <th>Work Order No.</th>
                                  <th>Status</th>
                                  <th>Last Updated</th>
                              </thead>
                              <tbody>
                              {% for variation in all_variation_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:project-variation-detail' variation.id %}">{{ variation.title|title }}</a></td>

                                      {% if variation.work_order %}
                                      <td>{{ variation.work_order }}</td>
                                      {% else %}
                                      <td class="text-fade">(None)</td>
                                      {% endif %}

                                      {% if variation.status.level >= 0 and variation.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 100 and variation.status.level < 200 }
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 200 and variation.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ variation.updated_at|naturalday:'M d, Y'|title }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                  </div><!-- /.tab-pane #all-variations -->

                  <div class="tab-pane" id="under-prep-variations">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Title</th>
                                  <th>Work Order No.</th>
                                  <th>Status</th>
                                  <th>Last Updated</th>
                              </thead>
                              <tbody>
                              {% for variation in under_prep_variation_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:project-variation-detail' variation.id %}">{{ variation.title|title }}</a></td>

                                      {% if variation.work_order %}
                                      <td>{{ variation.work_order }}</td>
                                      {% else %}
                                      <td class="text-fade">(None)</td>
                                      {% endif %}

                                      {% if variation.status.level >= 0 and variation.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 100 and variation.status.level < 200 }
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 200 and variation.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ variation.updated_at|naturalday:'M d, Y'|title }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                  </div><!-- /.tab-pane #under-prep-variations -->

                  <div class="tab-pane" id="pending-variations">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Title</th>
                                  <th>Work Order No.</th>
                                  <th>Status</th>
                                  <th>Last Updated</th>
                              </thead>
                              <tbody>
                              {% for variation in pending_variation_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:project-variation-detail' variation.id %}">{{ variation.title|title }}</a></td>

                                      {% if variation.work_order %}
                                      <td>{{ variation.work_order }}</td>
                                      {% else %}
                                      <td class="text-fade">(None)</td>
                                      {% endif %}

                                      {% if variation.status.level >= 0 and variation.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 100 and variation.status.level < 200 }
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 200 and variation.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ variation.updated_at|naturalday:'M d, Y'|title }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                  </div><!-- /.tab-pane #pending-variations -->

                  <div class="tab-pane" id="submitted-variations">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Title</th>
                                  <th>Work Order No.</th>
                                  <th>Status</th>
                                  <th>Last Updated</th>
                              </thead>
                              <tbody>
                              {% for variation in submitted_variation_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:project-variation-detail' variation.id %}">{{ variation.title|title }}</a></td>

                                      {% if variation.work_order %}
                                      <td>{{ variation.work_order }}</td>
                                      {% else %}
                                      <td class="text-fade">(None)</td>
                                      {% endif %}

                                      {% if variation.status.level >= 0 and variation.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 100 and variation.status.level < 200 }
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 200 and variation.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ variation.updated_at|naturalday:'M d, Y'|title }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                  </div><!-- /.tab-pane #submitted-variations -->

                  <div class="tab-pane" id="approved-variations">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Title</th>
                                  <th>Work Order No.</th>
                                  <th>Status</th>
                                  <th>Last Updated</th>
                              </thead>
                              <tbody>
                              {% for variation in approved_variation_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:project-variation-detail' variation.id %}">{{ variation.title|title }}</a></td>

                                      {% if variation.work_order %}
                                      <td>{{ variation.work_order }}</td>
                                      {% else %}
                                      <td class="text-fade">(None)</td>
                                      {% endif %}

                                      {% if variation.status.level >= 0 and variation.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 100 and variation.status.level < 200 }
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 200 and variation.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ variation.updated_at|naturalday:'M d, Y'|title }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                  </div><!-- /.tab-pane #approved-variations -->
              </div><!-- /.tab-content -->
          </div>
      </div>
  </div>
</div><!-- /.row -->

{% if user.is_staff %}
<div class="row">
    <div class="col-sm-12">
        <a href="{% url 'dashboard:project-update' project.id %}" title="Update project" class="btn btn-primary">
           <span class="fa fa-edit"></span>&nbsp; Update 
        </a>

        <a href="{% url 'dashboard:project-delete' project.id %}" title="Delete project" class="btn btn-danger pull-right">
           Delete  
        </a>
    </div>
</div>
{% endif %}
{% endblock %}