{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_name %} 
{% if insurance %}
{{ insurance.project.short_name}} &nbsp;<span class="fa fa-angle-right"></span>&nbsp; {{ insurance.insurance_type.title|title }} ({{ insurance.project.short_name }})
{% else %}
{{ project.short_name}} &nbsp;<span class="fa fa-angle-right"></span>&nbsp; Add New Insurance
{% endif %}
{% endblock page_name %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                {% if insurance %}
                <h4 class="title">Update Insurance</h4>
                {% else %}
                 <h4 class="title">New Insurance</h4>
                {% endif %}
                <p class="category">Description and summary of the insurance</p>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                       <form method="POST">
                           {% csrf_token %}
                           {{ form|crispy }}                      
                    </div>
                </div><!-- /.row -->
            </div><!-- /.card-content -->
        </div><!-- /.card -->
    </div>
</div><!-- /.row -->

<div class="row">
    <div class="col-sm-12">
        <button type="submit" title="Save Changes" class="btn btn-primary">
            <span class="fa fa-edit"></span>&nbsp; Save 
        </button>
        
        {% if insurance %}
        <a href="{% url 'dashboard:insurance-detail' insurance.id %}" title="Discard Chages" class="btn btn-danger pull-right">
            Cancel
        </a>
        {% else %}
        <a href="{% url 'dashboard:insurance-list' %}" title="Discard Chages" class="btn btn-danger pull-right">
            Cancel
        </a>
        {% endif %}
    </div>
</div>
</form>
{% endblock %}