{% extends 'base.html' %}
{% load humanize %}

{% block page_name %}
<span class="hidden-md hidden-lg">Dashboard</span>
<span class="hidden-sm hidden-xs">Welcome to Projects Dashboard</span>
{% endblock page_name %}

{% block content %}
{% include 'partials/messages.html' %}
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="blue">
                <i class="material-icons">info_outline</i>
            </div>
            <div class="card-content">
                <p class="category">Active Projects</p>
                {% if active_project_list.count %}
                <h3 class="title">{{ active_project_list.count }}</h3>
                {% else %}
                <h3 class="title text-fade">(None)</h3>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="red">
                <i class="material-icons">account_balance</i>
            </div>
            <div class="card-content">
                <p class="category">Expired Insurance</p>
                {% if expired_insurance_list %}
                <h3 class="title">{{ expired_insurance_list }}</h3>
                {% else %}
                <h3 class="title text-fade">(None)</h3>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="orange">
                <i class="material-icons">assessment</i>
            </div>
            <div class="card-content">
                <p class="category">Pending Variations</p>
                {% if pending_variation_list %}
                <h3 class="title">{{ pending_variation_list }}</h3>
                {% else %}
                <h3 class="title text-fade">(None)</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div><!-- /.row -->

<!-- PROJECT LIST -->
<div class="row">
  
  <!-- PROJECT BASED ON STATUS (For large screens and tables) -->
  <div class="col-sm-12 hidden-xs">
      <div class="card card-nav-tabs card-lg">
          <div class="card-header clearfix" data-background-color="purple">
              <div class="row">
                  <div class="col-sm-5">
                      <h4 class="title">All Projects</h4>
                      <p class="category hidden-xs hidden-sm">List of all construction projects</p>
                  </div>

                  <div class="col-sm-7">
                      <div class="nav-tabs-navigation pull-right">
                          <div class="nav-tabs-wrapper">
                              <ul class="nav nav-tabs text-right" data-tabs="tabs">
                                  <li class="active">
                                      <a href="#active-projects" data-toggle="tab">
                                          Active
                                          {% if active_project_list.count > 0 %}
                                          <span class="notification notification-info">{{ active_project_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>
                                  <li class="">
                                      <a href="#defect-liability-projects" data-toggle="tab">
                                          On Defect Liability
                                          {% if defect_project_list.count > 0 %}
                                          <span class="notification notification-warning">{{ defect_project_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>

                                  <li class="">
                                      <a href="#closed-projects" data-toggle="tab">
                                          Closed
                                          {% if closed_project_list.count > 0 %}
                                          <span class="notification notification-success">{{ closed_project_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>

                                  <li class="">
                                      <a href="#danger-projects" data-toggle="tab">
                                          Suspended/Terminated
                                          {% if danger_project_list.count > 0 %}
                                          <span class="notification notification-danger">{{ danger_project_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div><!-- /.row -->
          </div><!-- /.card-header -->

          <div class="card-content">
              <div class="tab-content">
                  <div class="tab-pane active" id="active-projects">
                      {% if active_project_list %}
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Project Title</th>
                                  <th>Project Status</th>
                                  <th>Last Updated</th>
                              </thead>
                              <tbody>
                              {% for project in active_project_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:project-detail' project.id %}">{{ project.short_name }}</a></td>
                                      
                                      {% if project.status.level >= 0 and project.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ project.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif project.status.level >= 100 and project.status.level < 200 %}
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif project.status.level >= 200 and project.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ project.status.title|title }}
                                         </span>
                                      </td>                         
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ project.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ project.updated_at|naturalday:'M d, Y'|title }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                      {% else %}
                      <div class="banner banner-default push-up-md">
                          <i class="material-icons">info_outline</i>&nbsp; NOT AVAILABLE
                      </div>
                      {% endif %}
                  </div><!-- /.tab-pane #all-variations -->

                  <div class="tab-pane" id="defect-liability-projects">
                      {% if defect_project_list %}
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Project Title</th>
                                  <th>Project Status</th>
                                  <th>Last Updated</th>
                              </thead>
                              <tbody>
                              {% for project in defect_project_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:project-detail' project.id %}">{{ project.short_name }}</a></td>
                                      
                                      {% if project.status.level >= 0 and project.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ project.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif project.status.level >= 100 and project.status.level < 200 %}
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif project.status.level >= 200 and project.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ project.status.title|title }}
                                         </span>
                                      </td>                         
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ project.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ project.updated_at|naturalday:'M d, Y'|title }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                      {% else %}
                      <div class="banner banner-default push-up-md">
                          <i class="material-icons">info_outline</i>&nbsp; NOT AVAILABLE
                      </div>
                      {% endif %}
                  </div><!-- /.tab-pane #all-variations -->

                  <div class="tab-pane" id="closed-projects">
                      {% if closed_project_list %}
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Project Title</th>
                                  <th>Project Status</th>
                                  <th>Last Updated</th>
                              </thead>
                              <tbody>
                              {% for project in closed_project_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:project-detail' project.id %}">{{ project.short_name }}</a></td>
                                      
                                      {% if project.status.level >= 0 and project.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ project.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif project.status.level >= 100 and project.status.level < 200 %}
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif project.status.level >= 200 and project.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ project.status.title|title }}
                                         </span>
                                      </td>                         
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ project.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ project.updated_at|naturalday:'M d, Y'|title }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                      {% else %}
                      <div class="banner banner-default push-up-md">
                          <i class="material-icons">info_outline</i>&nbsp; NOT AVAILABLE
                      </div>
                      {% endif %}
                  </div><!-- /.tab-pane #all-variations -->


                  <div class="tab-pane" id="danger-projects">
                      {% if danger_project_list %}
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Project Title</th>
                                  <th>Project Status</th>
                                  <th>Last Updated</th>
                              </thead>
                              <tbody>
                              {% for project in danger_project_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:project-detail' project.id %}">{{ project.short_name }}</a></td>
                                      
                                      {% if project.status.level >= 0 and project.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ project.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif project.status.level >= 100 and project.status.level < 200 %}
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif project.status.level >= 200 and project.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ project.status.title|title }}
                                         </span>
                                      </td>                         
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ project.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ project.updated_at|naturalday:'M d, Y'|title }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                      {% else %}
                      <div class="banner banner-default push-up-md">
                          <i class="material-icons">info_outline</i>&nbsp; NOT AVAILABLE
                      </div>
                      {% endif %}
                  </div><!-- /.tab-pane #all-variations -->                   
              </div><!-- /.tab-content -->
          </div><!-- /.card-content -->
      </div>
  </div><!-- /.col-sm-12 -->
  
  <!-- ALL PROJECTS LIST WITHOUT STATUS (For mobile phones) -->
  <div class="col-sm-12 hidden-sm hidden-md hidden-lg">
    <div class="card card-sm">
        <div class="card-header" data-background-color="purple">
            <h4 class="title">All Projects</h4>
        </div><!-- /.card-header -->
        <div class="card-content">
           {% if project_list %}
           <div class="table-responsive">
               <table class="table">
                   <thead class="text-primary">
                       <th>Project Title</th>
                       <th>Project Status</th>
                   </thead>
                   <tbody>
                   {% for project in project_list %}
                       <tr>
                           <td><a href="{% url 'dashboard:project-detail' project.id %}">{{ project.short_name }}</a></td>
                           
                           {% if project.status.level >= 0 and project.status.level < 100 %}
                           <td>
                              <span class="label label-info">
                                  <span class="fa fa-info-circle"></span> {{ project.status.title|title }}
                              </span>
                           </td>
                           {% elif project.status.level >= 100 and project.status.level < 200 %}
                           <td>
                              <span class="label label-success">
                                  <span class="fa fa-check-square-o"></span> {{ variation.status.title|title }}
                              </span>
                           </td>
                           {% elif project.status.level >= 200 and project.status.level < 300 %}
                           <td>
                              <span class="label label-warning">
                                  <span class="fa fa-warning"></span> {{ project.status.title|title }}
                              </span>
                           </td>                         
                           {% else %}
                           <td>
                              <span class="label label-danger">
                                  <span class="fa fa-warning"></span> {{ project.status.title|title }}
                              </span>
                           </td>
                           {% endif %}
                       </tr>
                   {% endfor %}
                   </tbody>
               </table>
           </div><!-- /.table-responsive -->
           {% else %}
           <div class="banner banner-default push-up-md">
               <i class="material-icons">info_outline</i>&nbsp; NOT AVAILABLE
           </div>
           {% endif %}
        </div><!-- /.card-content -->
    </div><!-- /.card -->
  </div>
</div><!-- /.row -->

{% if user.is_staff %}
<div class="row">
    <div class="col-sm-12 bottom-btn-container">
        <a href="{% url 'dashboard:project-create' %}" title="Add new project" class="btn btn-primary pull-right">
           <span class="fa fa-plus-circle"></span>&nbsp; Add 
        </a>
    </div>
</div>
{% endif %}
{% endblock %}