{% extends 'base.html' %}
{% load humanize %}

{% block page_name %} Variations {% endblock page_name %}

{% block content %}
{% include 'partials/messages.html' %}
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="orange">
                <i class="material-icons">content_copy</i>
            </div>
            <div class="card-content">
                <p class="category">Used Space</p>
                <h3 class="title">49/50<small>GB</small></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="green">
                <i class="material-icons">store</i>
            </div>
            <div class="card-content">
                <p class="category">Revenue</p>
                <h3 class="title">$34,245</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="red">
                <i class="material-icons">info_outline</i>
            </div>
            <div class="card-content">
                <p class="category">Fixed Issues</p>
                <h3 class="title">75</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">local_offer</i> Tracked from Github
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="blue">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="card-content">
                <p class="category">Followers</p>
                <h3 class="title">+245</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">update</i> Just Updated
                </div>
            </div>
        </div>
    </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-sm-12">
      <div class="card card-nav-tabs card-md">
          <div class="card-header clearfix" data-background-color="purple">
              <div class="row">
                  <div class="col-sm-5">
                      <h4 class="title">Variations</h4>
                      <p class="category">List of all ongoing variation status for all projects</p>
                  </div>

                  <div class="col-sm-7">
                      <div class="nav-tabs-navigation pull-right">
                          <div class="nav-tabs-wrapper">
                              <ul class="nav nav-tabs text-right" data-tabs="tabs">
                                  <li class="active">
                                      <a href="#all-variations" data-toggle="tab">
                                          All
                                          {% if variation_list.count > 0 %}
                                          <span class="notification notification-info">{{ variation_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>
                                  <li class="">
                                      <a href="#under-prep-variations" data-toggle="tab">
                                          Under Prep.
                                          {% if under_prep_variation_list.count > 0 %}
                                          <span class="notification notification-info">{{ under_prep_variation_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>

                                  <li class="">
                                      <a href="#pending-variations" data-toggle="tab">
                                          Pending
                                          {% if pending_variation_list.count > 0 %}
                                          <span class="notification notification-warning">{{ pending_variation_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>

                                  <li class="">
                                      <a href="#submitted-variations" data-toggle="tab">
                                          Submitted
                                          {% if submitted_variation_list.count > 0 %}
                                          <span class="notification notification-success">{{ submitted_variation_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>

                                  <li class="">
                                      <a href="#approved-variations" data-toggle="tab">
                                          Approved/Rejected
                                          {% if approved_variation_list.count > 0 %}
                                          <span class="notification notification-danger">{{ approved_variation_list.count }}</span>
                                          {% endif %}
                                      <div class="ripple-container"></div></a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div><!-- /.row -->
          </div><!-- /.card-header -->

          <div class="card-content">
              <div class="tab-content">
                  <div class="tab-pane active" id="all-variations">
                      {% if variation_list %}
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Title</th>
                                  <th>Project</th>
                                  <th>Work Order No.</th>
                                  <th>Status</th>
                                  <th>Last Updated</th>
                              </thead>
                              <tbody>
                              {% for variation in variation_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:variation-detail' variation.id %}">{{ variation.title|title }}</a></td>

                                      <td>{{ variation.project.short_name }}</td>

                                      {% if variation.work_order %}
                                      <td>{{ variation.work_order }}</td>
                                      {% else %}
                                      <td class="text-fade">(None)</td>
                                      {% endif %}

                                      {% if variation.status.level >= 0 and variation.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 100 and variation.status.level < 200 %}
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 200 and variation.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ variation.updated_at|naturalday:'M d, Y'|title }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                      {% else %}
                      <div class="banner banner-default push-up-md">
                          <i class="material-icons">info_outline</i>&nbsp; No Records of Variations
                      </div>
                      {% endif %}
                  </div><!-- /.tab-pane #all-variations -->

                  <div class="tab-pane" id="under-prep-variations">
                      {% if under_prep_variation_list %}
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Title</th>
                                  <th>Project</th>
                                  <th>Work Order No.</th>
                                  <th>Status</th>
                                  <th>Last Updated</th>
                              </thead>
                              <tbody>
                              {% for variation in under_prep_variation_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:variation-detail' variation.id %}">{{ variation.title|title }}</a></td>

                                      <td>{{ variation.project.short_name }}</td>

                                      {% if variation.work_order %}
                                      <td>{{ variation.work_order }}</td>
                                      {% else %}
                                      <td class="text-fade">(None)</td>
                                      {% endif %}

                                      {% if variation.status.level >= 0 and variation.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 100 and variation.status.level < 200 %}
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 200 and variation.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ variation.updated_at|naturalday:'M d, Y'|title }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                      {% else %}
                      <div class="banner banner-default push-up-md">
                          <i class="material-icons">info_outline</i>&nbsp; No Variation is Currently Under Preparation
                      </div>
                      {% endif %}
                  </div><!-- /.tab-pane #under-prep-variations -->

                  <div class="tab-pane" id="pending-variations">
                      {% if pending_variation_list %}
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Title</th>
                                  <th>Project</th>
                                  <th>Work Order No.</th>
                                  <th>Status</th>
                                  <th>Last Updated</th>
                              </thead>
                              <tbody>
                              {% for variation in pending_variation_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:variation-detail' variation.id %}">{{ variation.title|title }}</a></td>

                                      <td>{{ variation.project.short_name }}</td>

                                      {% if variation.work_order %}
                                      <td>{{ variation.work_order }}</td>
                                      {% else %}
                                      <td class="text-fade">(None)</td>
                                      {% endif %}

                                      {% if variation.status.level >= 0 and variation.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 100 and variation.status.level < 200 %}
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 200 and variation.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ variation.updated_at|naturalday:'M d, Y'|title }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                      {% else %}
                      <div class="banner banner-default push-up-md">
                          <i class="material-icons">info_outline</i>&nbsp; No Variation is Currently Pending
                      </div>
                      {% endif %}
                  </div><!-- /.tab-pane #pending-variations -->

                  <div class="tab-pane" id="submitted-variations">
                      {% if submitted_variation_list %}
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Title</th>
                                  <th>Project</th>
                                  <th>Work Order No.</th>
                                  <th>Status</th>
                                  <th>Last Updated</th>
                              </thead>
                              <tbody>
                              {% for variation in submitted_variation_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:variation-detail' variation.id %}">{{ variation.title|title }}</a></td>

                                      <td>{{ variation.project.short_name }}</td>

                                      {% if variation.work_order %}
                                      <td>{{ variation.work_order }}</td>
                                      {% else %}
                                      <td class="text-fade">(None)</td>
                                      {% endif %}

                                      {% if variation.status.level >= 0 and variation.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 100 and variation.status.level < 200 %}
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 200 and variation.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ variation.updated_at|naturalday:'M d, Y'|title }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                      {% else %}
                      <div class="banner banner-default push-up-md">
                          <i class="material-icons">info_outline</i>&nbsp; No record of Submitted Variations
                      </div>
                      {% endif %}
                  </div><!-- /.tab-pane #submitted-variations -->

                  <div class="tab-pane" id="approved-variations">
                      {% if approved_variation_list %}
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>Title</th>
                                  <th>Project</th>
                                  <th>Work Order No.</th>
                                  <th>Status</th>
                                  <th>Last Updated</th>
                              </thead>
                              <tbody>
                              {% for variation in approved_variation_list %}
                                  <tr>
                                      <td><a href="{% url 'dashboard:variation-detail' variation.id %}">{{ variation.title|title }}</a></td>

                                      <td>{{ variation.project.short_name }}</td>

                                      {% if variation.work_order %}
                                      <td>{{ variation.work_order }}</td>
                                      {% else %}
                                      <td class="text-fade">(None)</td>
                                      {% endif %}

                                      {% if variation.status.level >= 0 and variation.status.level < 100 %}
                                      <td>
                                         <span class="label label-info">
                                             <span class="fa fa-info-circle"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 100 and variation.status.level < 200 %}
                                      <td>
                                         <span class="label label-success">
                                             <span class="fa fa-check-square-o"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% elif variation.status.level >= 200 and variation.status.level < 300 %}
                                      <td>
                                         <span class="label label-warning">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% else %}
                                      <td>
                                         <span class="label label-danger">
                                             <span class="fa fa-warning"></span> {{ variation.status.title|title }}
                                         </span>
                                      </td>
                                      {% endif %}

                                      <td>{{ variation.updated_at|naturalday:'M d, Y'|title }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /.table-responsive -->
                      {% else %}
                      <div class="banner banner-default push-up-md">
                          <i class="material-icons">info_outline</i>&nbsp; No record of Approved/Rejected Variations
                      </div>
                      {% endif %}
                  </div><!-- /.tab-pane #approved-variations -->
              </div><!-- /.tab-content -->
          </div><!-- /.card-content -->
      </div>
  </div>
</div><!-- /.row -->

{% if user.is_staff %}
<div class="row">
    <div class="col-sm-12">
        <a href="{% url 'dashboard:variation-create' %}" title="Add New Variation" class="btn btn-primary pull-right">
           <span class="fa fa-plus-circle"></span>&nbsp; Add 
        </a>
    </div>
</div>
{% endif %}
{% endblock %}